version: 2
jobs:
  build:
    docker:
      - image: appsilon/ci-base:1.0
    steps:
      - checkout
      - run:
          command: |
            cd ./src/r/
            R -e 'devtools::install_deps(dependencies = TRUE)'
            R -e 'devtools::test()'
      - store_artifacts:
          path: man/
          destination: man
